:root {
  --branding-color: #cec385;
  --secondary-color: #cda434;
  --terciary-color: rgb(40, 39, 101);
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--terciary-color);
  font-weight: bold;
}
h1 {
  font-family: var(--heading-font-family);
  font-size: 98px;
  line-height: 1.5;
  text-align: center;
}
h2 {
  font-size: 3.5em;
  color: var(--terciary-color);
  font-family: var(--heading-font-family);
}
h3 {
  font-family: var(--default-font-family);
  font-weight: 700;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: rgba(40, 39, 101, 0.705);
}
img {
  border-radius: 8px;
}
.hero {
  background: url(images/Background.svg);
  background-size: cover;
  text-align: center;
  padding: 150px 20px;
}
.hero h1 {
  font-weight: bold;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 1;
  color: var(--terciary-color);
}
.btn-branding {
  background: var(--secondary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  border: 1px solid #d8ae38;
}
.btn-branding:hover {
  background-color: #cda434d1;
  color: white;
}
.btn-branding-outline {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline:hover {
  background: #cda434d1;
  color: white;
}
.title-section {
  font-size: 1.8em;
  font-weight: 100;
  padding: 20px;
  color: var(--secondary-color);
}
.header-projects {
  background: url(images/Background.svg);
  background-size: cover;
  text-align: center;
  padding: 150px 20px;
}
.header-projects h1 {
  font-size: 64px;
  font-weight: bold;
}
.header-projects h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 1;
  color: var(--terciary-color);
}
.content-container {
  padding: 120px 20px 20px;
}
.content-container h1 {
  font-size: 64px;
  line-height: 80px;
}
.content-container h2 {
  font-size: 18px;
  font-family: var(--heading-font-family);
}
.content {
  margin: 30px;
}

.content p {
  text-align: justify;
}

.project-description {
  padding: 10px 55px;
}
.project-description p {
  text-align: justify;
}
.dark-box-shadow {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.13), 0 2px 4px rgba(0, 0, 0, 0.13),
    0 4px 8px rgba(0, 0, 0, 0.13), 0 8px 16px rgba(0, 0, 0, 0.13),
    0 16px 32px rgba(0, 0, 0, 0.13), 0 32px 64px rgba(0, 0, 0, 0.13);
}
.light-box-shadow {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}
.row {
  padding-bottom: 80px;
}
.logo {
  max-height: 45px;
}
.nav-link {
  color: var(--secondary-color);
  font-weight: 100;
}
.navbar-nav .nav-link.active {
  color: var(--secondary-color);
  font-weight: bold;
}
p.contact {
  margin: 0 10%;
}
body.contact-page {
  background: url(images/Background.svg);
  background-size: cover;
}

footer {
  text-align: center;
}
footer .social-links a {
  margin: 0 20px;
  color: white;
  background-color: var(--secondary-color);
  padding: 9px 15px;
  font-size: 20px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: var(--secondary-color);
  background-color: #f2e0af;
}

@media (max-width: 900px) {
  p {
    font-size: 15px;
  }
  h1 {
    font-size: 44px;
    line-height: 1.5;
  }
  h2 {
    font-size: 34px;
  }

  .hero {
    padding: 80px 20px;
  }
  .hero p {
    font-size: 20px;
  }

  .hero h2 {
    font-size: 20px;
    line-height: 1.3;
  }
  .btn-branding {
    background: var(--secondary-color);
    border-radius: 4px;
    color: white;
    font-size: 13px;
    line-height: 27px;
    padding: 10px 15px;
  }
  .btn-branding-outline {
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    font-size: 13px;
    line-height: 27px;
    padding: 10px 15px;
  }
  h1.intro {
    font-size: 40px;
    line-height: 1.2;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .project-description p {
    text-align: center;
  }
  .content-container {
    padding: 0;
  }
  .content-container h1 {
    text-align: center;
    font-size: 40px;
  }
  .my-photo {
    padding-left: 15px;
  }

  h2 {
    text-align: center;
  }
  .content-container p {
    text-align: justify;
    font-size: 13px;
  }
  .content-container a {
    display: block;
  }
  .contact-box {
    padding-bottom: 100%;
  }
}
